<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ship_id %>
    <%= form.select(:ship_id, options_for_select(@ship_options))%>
  </div>
  </br>
  <div class="field">
    <%= form.label :job_id %>
    <%= form.select(:job_id, options_for_select(@job_options))%>
  </div>
  </br>
  <div class="actions">
     <%= form.submit "Submit", :class => "waves-effect black btn" %>
  </div>
<% end %>


