<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @job.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @job.destination %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user.email %>
</p>

<% if current_user && current_user.id == @job.user_id %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<% end %>
<%= link_to 'Back', jobs_path %>

