<%= form_with(model: ship, local: true) do |form| %>
  <% if ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

      <ul>
      <% ship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <!-- a lock_version needs to be set to lock the value entered by the user, unless they edit the ship. -->
    <!-- also set a container limit -->
    <%= form.label :container_limit %>
    <%= form.number_field :containers, min: 5, max: 100 %>
  </div>

   <div>
    <%= form.label :location %>
     <%= form.select(:location, options_for_select(@planet_options)) %>
  </div>
  <div clas="field">
  <%= form.file_field :image %>
  </div>
  <div class="actions">
  </br>
    <%= form.submit "Submit", :class => "waves-effect black btn" %>
  </div>
<% end %>
